<%- include('../includes/header'); -%>

<%- include('../includes/navbarCampeur'); -%>

<section class="container margin-top-1 margin-bottom-1">
    <div class="columns is-centered is-mobile">
        <div class="column is-narrow has-text-centered">
            <h1 class="title is-1 has-text-left">Réservations</h1>
            <h2 class="subtitle has-text-primary has-text-left">Bonjour <%=prenom%></h2>
        </div>
    </div>
</section>

<section>
    <% if(locals.flash){ %>
        <div class="columns is-centered has-text-centered">
            <div class="column is-6-desktop is-9-tablet is-12-mobile">
                <div class="notification is-<%= flash.type %>">
                    <button class="delete"></button>
                    <%= locals.flash.text %>
                </div>
            </div>
        </div>
    <% } %>
</section>

<section>
    <% if (locals.rows) { %>
        <table>
            <% for(var i=0; i < rows.length; i++) { %>
                <div class="columns is-centered">
                    <div class="column is-6-desktop">
                        <div class="box">
                            <div class="columns is-vcentered">
                                <div class="column is-1">
                                    <i class="has-text-primary fas fa-map-signs fa-2x"></i>
                                </div>
                                <div class="column is-2">
                                    <p class="title is-5">Id : <span class="has-text-weight-light"><%= rows[i].id %></span></p>
                                </div>
                                <div class="column is-7">
                                    <p class="title is-5 has-text-weight-light"><%= rows[i].dateDebut %> - <%= rows[i].dateFin %></p>
                                </div>
                                <div class="column is-2 has-text-right">
                                    <a class="button is-primary is-small is-rounded is-outlined" href="/campeur/reservation/<%=rows[i].id%>">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </table>
    <%}%>
</section>

<script src="/js/notifications.js"></script>

<%- include('../includes/footer'); -%>