<%- include('../includes/header'); -%>

<%- include('../includes/navbar'); -%>

<script src="/js/notifications.js"></script>


<section class="container margin-top-1">
    <div class="columns columns is-centered is-mobile">
        <div class="column is-narrow has-text-centered">

            <h1 class="title is-size-1 has-text-left">Connexion</h1>
            <h2 class="subtitle is-size-6 has-text-primary has-text-left">Accédez à votre compte</h2>

            <form method="post">
                <div class="field margin-form">
                    <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Email" name="emailUsername" required>  <!-- Email/Username -->
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    </p>
                </div>
                <div class="field margin-form">
                    <p class="control has-icons-left has-icons-right">
                    <input class="input" type="password" placeholder="Mot de passe" name="password" required>    <!-- Password -->
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>                 
                    </p>
                </div>
                <div class="control has-text-centered margin-button">
                    <button type="submit" class="button is-rounded">Se connecter</button>   <!-- Se connecter -->
                </div>
            </form>
            <a href="/inscription" class="button is-primary is-inverted">Je n'ai pas encore de compte !</a>  <!-- Pas encore de compte -->           
        </div>
    </div>
    <div class="columns columns is-centered is-mobile">
        <div class="column is-narrow has-text-centered">
            <% if (locals.flash) { %>
            <div class="notification is-<%= flash.type %>">
                <button class="delete"></button>
                <%= locals.flash.text %>
            </div>
            <%}%>
        </div>
    </div>
</section>




<%- include('../includes/footer'); -%>