<%- include('../includes/header'); -%>

<%- include('../includes/navbarManager'); -%>

<div class="ovhi">
    <section class="container margin-top-1 ">
        <div class="columns columns is-centered is-mobile">
            <div class="column is-narrow has-text-centered">
                <h1 class="title is-size-1 has-text-left">Incidents</h1>
                <h2 class="subtitle is-size-6 has-text-primary has-text-left">du camping des sources</h2>
            </div>
        </div>
    </section>

    
    <section class="margin-top-1">
    <% if (locals.rows) { %>
        <table>
            <% for(var i=0; i < rows.length; i++) { %>
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="box">
                            <div class="columns is-vcentered">
                                <div class="column is-1">
                                    <span class="has-text-<%if(rows[i].libelle == 'Bruit'){%>info<%}else if(rows[i].libelle == 'Secours'){%>danger<%}else if(rows[i].libelle == 'Propreté'){%>warning<%}else{%>success<%}%>"><i class="fas <%if(rows[i].libelle == 'Bruit'){%>fa-volume-up<%}else if(rows[i].libelle == 'Secours'){%>fa-exclamation-triangle<%}else if(rows[i].libelle == 'Propreté'){%>fa-broom<%}else{%>fa-asterisk<%}%> fa-2x"></i></span>
                                </div>
                                <div class="column is-2">
                                    <p class="title is-5"><%= rows[i].endroit %></p>
                                </div>
                                <div class="column is-3">
                                    <p class="title is-5">Nom : <span class="has-text-weight-light"><%= rows[i].nom %></span></p>
                                </div>
                                <div class="column is-5">
                                    <p class="title is-5">Heure : <span class="has-text-weight-light"><%= rows[i].horodatage %></span></p>
                                </div>
                                <div class="column is-1">
                                    <a class="button is-small is-danger" href="incident/<%=rows[i].id%>/delete">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </table>
    <%}%>
    </section>

    <div class="columns is-centered">
        <div class="column is-4 has-text-centered">
            <% if (locals.flash) { %>
            <div class="notification is-<%= flash.type %>">
                <button class="delete"></button>
                <%= locals.flash.text %>
            </div>
            <%}%>
        </div>
    </div>
</div>

<script src="/js/notifications.js"></script>

<%- include('../includes/footer'); -%>