<%- include('../includes/header'); -%>

<%- include('../includes/navbarManager'); -%>

<div class="ovhi">
    <section class="container margin-top-1 pad">
        <div class="columns columns is-centered is-mobile">
            <div class="column is-narrow has-text-centered">
                <h1 class="title is-size-1 has-text-left">Personnel</h1>
                <h2 class="subtitle is-size-6 has-text-primary has-text-left">du camping des sources</h2>
            </div>
        </div>
        <div class="columns columns is-centered is-mobile">
            <div class="column is-narrow has-text-centered">
                <a class="button is-primary has-text-centered" href="personnel/create">Créer</a>
            </div>
        </div>
    </section>

    
    
    <% if (locals.rows) { %>
    <div class="margin-top-1">
        <table>
            <% for(var i=0; i < rows.length; i++) { %>
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <div class="box">
                            <div class="columns is-vcentered has-text-left is-mobile">
                                <div class="column is-2">
                                    <span class="icon has-text-info"><i class="fas fa-user fa-2x"></i></span>
                                </div>
                                <div class="column is-1">
                                    <p class="title is-5"><%=rows[i].id%></p>
                                </div>
                                <div class="column is-7">
                                    <p class="title is-5"><span class="has-text-weight-light"><%= rows[i].identifiant %></span></p>
                                </div>
                                <div class="column is-2">
                                    <a class="button is-small is-info" href="personnel/<%=rows[i].id%>">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </table>
    </div>
    <%}%>

    <div class="columns is-centered">
        <div class="column is-4 has-text-centered">
            <% if (locals.flash) { %>
            <div class="notification is-<%= flash.type %>">
                <button class="delete"></button>
                <%= locals.flash.text %>
            </div>
            <%}%>
        </div>
    </div>
</div>

<%- include('../includes/footer'); -%>