<%- include('../includes/header'); -%>

<%- include('../includes/navbarPersonnel'); -%>

<div class="w-40">
    <section class="container margin-top-1 has-text-centered">
        <h1 class="title is-size-1">Campeur n°<span class="has-text-primary"><%=rows.id%></span></h1>
    </section>

    
    <section class="margin-top-1">
        <div class="card">
            <div class="card-content">
                <p class="is-size-4 has-text-weight-semibold">Nom : <span class="has-text-info has-text-weight-normal"><%=rows.nom%></span>
                <p class="is-size-4 has-text-weight-semibold">Prenom : <span class="has-text-info has-text-weight-normal"><%=rows.prenom%></span>
                <hr>
                <p class="is-size-4 has-text-weight-semibold">Mail : <span class="has-text-info has-text-weight-normal"><%=rows.mail%></span>
                <p class="is-size-4 has-text-weight-semibold">Telephone : <span class="has-text-info has-text-weight-normal"><%=rows.telephone%></span>
            </div>
          </div>
    </section>
</div>

<%- include('../includes/footer'); -%>