<%- include('../includes/header'); -%>

<%- include('../includes/navbarPersonnel'); -%>

<section class="container margin-top-1 margin-bottom-1">
    <div class="columns is-centered is-mobile">
        <div class="column is-narrow has-text-centered">
            <h1 class="title is-1 has-text-left">Départs</h1>
            <h2 class="subtitle has-text-primary has-text-left">Du jour</h2>
            <a class="button is-primary is-small is-rounded is-outlined" href="/personnel/arrivees">Voir les arrivées</a>
        </div>
    </div>
</section>

<section>
    <% if(flash){ %>
        <div class="columns is-centered has-text-centered">
            <div class="column is-6-desktop is-9-tablet is-12-mobile">
                <div class="notification is-<%= flash.type %>">
                    <button class="delete"></button>
                    <%= locals.flash.text %>
                </div>
            </div>
        </div>
    <% } %>
</section>

<section>
    <% if (locals.rows) { %>
        <table>
            <% for(var i=0; i < rows.length; i++) { %>
                <div class="columns is-centered">
                    <div class="column is-6-desktop is-9-tablet is-12-mobile">
                        <div class="box">
                            <% if (rows[i].nomChalet) { %>
                                <% if(rows[i].prestige == 1){ %>
                                    <div class="columns is-vcentered is-mobile">
                                        <div class="column is-1">
                                            <i class="fas fa-star fa-2x has-text-primary"></i>
                                        </div>
                                        <div class="column is-5">
                                            <p class="title is-5">Nom : <span class="has-text-weight-light"><%= rows[i].nom %> </span><span class="has-text-primary"><%= rows[i].idCampeur %></span></p>
                                        </div>
                                        <div class="column is-4">
                                            <p class="title is-5">Suite de luxe : <span class="has-text-weight-light"><%= rows[i].nomChalet %></span></p>
                                        </div>
                                <% }else{ %>
                                    <div class="columns is-vcentered is-mobile">
                                        <div class="column is-1">
                                            <i class="fas fa-home fa-2x has-text-primary"></i>
                                        </div>
                                        <div class="column is-5">
                                            <p class="title is-5">Nom : <span class="has-text-weight-light"><%= rows[i].nom %> </span><span class="has-text-primary"><%= rows[i].idCampeur %></span></p>
                                        </div>
                                        <div class="column is-4">
                                            <p class="title is-5">Châlet : <span class="has-text-weight-light"><%= rows[i].nomChalet %></span></p>
                                        </div>
                                <% } %>
                            <% }else{ %>
                                <div class="columns is-vcentered is-mobile">
                                    <div class="column is-1">
                                        <i class="fab fa-pagelines fa-2x has-text-primary"></i>
                                    </div>
                                    <div class="column is-5">
                                        <p class="title is-5">Nom : <span class="has-text-weight-light"><%= rows[i].nom %> </span><span class="has-text-primary"><%= rows[i].idCampeur %></span></p>
                                    </div>
                                    <div class="column is-4">
                                        <p class="title is-5">Emp n° <span class="has-text-weight-light"><%= rows[i].id %></span></p>
                                    </div>
                            <% } %>
                                <div class="column is-2 has-text-right">
                                    <a class="button is-primary is-small is-rounded is-outlined" href="/personnel/departs/<%=rows[i].id%>">Check</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </table>
    <%}%>
</section>

<script src="/js/notifications.js"></script>

<%- include('../includes/footer'); -%>